{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.14.0/cdn/themes/light.css" />
        <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.14.0/cdn/shoelace-autoloader.js"></script>

        <title>{{.title}}</title>
    </head>
    <body>
        <container>
            {{ template "page" }}
        </container>
        <container>
            {{ template "footer" }}
        </container>
    </body>
</html>
<style>
    :host,
    h1, h2, h3, h4, h5, h6, p {
        font-family:'Courier New', Courier, monospace;
        color: var(--sl-color-green-900);
    }
    sl-tab-group{
        --indicator-color: var(--sl-color-green-900);
        --track-width: 5px;
    }
    sl-tab[active]::part(base) {
       cursor: default;
    }
    sl-tab[tabs]{
        color: var(--sl-color-green-900);
    }
</style>
{{end}}