{{ block "content" . }}
        <sl-card class="card-header">
                <h5 slot="header">
                        Glucose infusion rate calculator
                        <sl-icon-button name="gear" label="Settings"></sl-icon-button>
                </h5>
        
                <p>Calculating the total glucose infusion rate usually means you have to think about the milk, the PN and the fluids.
                        Select each to calculate a total.</p>
        </sl-card>
        
        <style>
                .card-header {
                        background-color: var(--sl-color-green-100);
                  max-width: 600px;
                  flex-flow: row;
                }
              
                .card-header [slot='header'] {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                }
              
                .card-header h3 {
                  margin: 0;
                }
              
                .card-header sl-icon-button {
                  font-size: var(--sl-font-size-medium);
                }
              </style>

{{ end }}