{{define "milk-component"}}
	<sl-card class="card-basic">

		<form>
			<sl-input type="number" id="number-input" placeholder="2.650" required label="Enter weight (kg):"></sl-input>
		
			<sl-select id="milks" help-text="Select a milk">
				{{ range .milks }}
					<sl-option value={{.ID}}>{{ .Name}} </sl-option>
				{{ end }}
			</sl-select>
	
			<sl-select id="volumes" label="Select daily volume">
					<sl-option value="100">100 ml/kg/d</sl-option>
					<sl-option value="120">120 ml/kg/d</sl-option>
					<sl-option value="130">130 ml/kg/d</sl-option>
					<sl-option value="150">150 ml/kg/d</sl-option>
					<sl-option value="160">160 ml/kg/d</sl-option>
					<sl-option value="170">170 ml/kg/d</sl-option>
					<sl-option value="180">180 ml/kg/d</sl-option>
					<sl-option value="200">200 ml/kg/d</sl-option>
					<sl-option value="210">210 ml/kg/d</sl-option>
			</sl-select>

			{{ template "total" }}

			<sl-button 
				hx-post="/child-milk"
				hx-target="#milk-total"
				hx-swap="innerHTML"
			>Submit</sl-button>
		</form>

	</sl-card>

{{end}}
	